.review__form {
  width: 100%;
  margin-bottom: 2rem;
}

.review__form h3{
    margin-bottom: 1rem;
}

.review__form form {
  width: 100%;
}

.review__form form input {
  width: 100%;
  height: 5rem;
  border: none;
  outline: none;
  border-radius: 10rem;
  border-bottom: 1px solid var(--dark-trans-2);
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.review__form form input:focus {
  box-shadow: inset var(--light-shadow-2);
}

.review__form form textarea {
  width: 100%;
  max-width: 50rem;
  height: 20rem;
  outline: none;
  font-size: 1.5rem;
  border: 1px solid var(--dark-trans-2);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.review__form form textarea:focus {
  box-shadow: inset var(--light-shadow-2);
}

.btn__container{
    width: 100%;
    margin: auto;
    margin-top: -1rem;
    text-align: center;
}

.btn__container button{
    width: 100%;
    font-size: 1.5rem;
    padding: 2rem 0 1rem 0;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn__container button:hover{
    background-color: var(--primary-color);
}

.my__review{
    margin-bottom: 1rem;
}

.review__btn_container{
    width: 100%;
    text-align: right;
    color: var(--dark-color-3);
}

.review__btn_container button{
    border: none;
    border-radius: 50%;
    box-shadow: 0 1px 1px var(--primary-color);
    background-color: transparent;
    margin: .2em;
    cursor: pointer;
    padding: 1em;
    color: var(--dark-color-3);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}

.btn__safe:hover{
    background-color: #0e910e56;
}

.btn__danger:hover{
    background-color: #ca252560;
}

.review__btn_container h5{
    font-size: 1.2em;
}

.review{
    font-size: 1rem;
}

.review h4{
    font-size: 1.5em;
}

.time__stamp{
    float: right;
    font-size: 1.5em;
    color: var(--dark-trans);
}

.review h5{
    font-size: 1.2em;
}

.review p{
    color: var(--dark-color);
    font-size: 1.3em;
    width: 100%;
}