.filter > div {
  margin-bottom: 2rem;
}

.filter > div h4 {
  margin-bottom: 1rem;
  font-size: 1.5em;
  color: var(--dark-color-2);
}

.filter input:not(.price input), .filter select{
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 10rem;
  padding: .5rem 1rem;
  text-transform: capitalize;
}

.filter input:focus{
  box-shadow: inset var(--light-shadow-2);
}

.filter button{
  transition: transform .3s;
}

.filter button:active{
  transform: scale(.9);
}

.category button {
  display: block;
  text-transform: capitalize;
  color: var(--primary-color);
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  padding: .5em;
}

.category .active,
.category button:hover{
  background-color: var(--primary-color);
  color: white;
}

.color__btn_container{
  display: flex;
  align-items: center;
}

.color button{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: relative;
  text-transform: capitalize;
  border: 1px solid var(--primary-color);
}

.color .icon{
 display: block;
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 border-radius: 50%;
 color: var(--primary-color);
 background-color: transparent;
}

.price p{
  font-size: 1.5em;
  border-bottom: 1em;
}

.clear__btn button{
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 10em;
  font-size: 1.5em;
  padding: .5em 1em;
  text-transform: capitalize;
  cursor: pointer;
  transition: background .3s;
}

.clear__btn button:hover{
  color: #fff;
  background-color: var(--primary-color);
}

