
:root {
  font-size: 62.5%;
  --primary-color: #6c91c2;
  --primary-color-dark: #2465b9d8;
  --primary-color-light: #6c91c2b9;
  --primary-color-light-2: #6c91c242;
  --dark-color: rgba(0, 0, 0, 0.822);
  --dark-color-2: rgba(0, 0, 0, 0.527);
  --dark-color-2: rgba(0, 0, 0, 0.726);
  --dark-trans: rgba(0, 0, 0, 0.404);
  --dark-trans-2: rgba(0, 0, 0, 0.322);
  --dark-trans-3: rgba(0, 0, 0, 0.178);
  --light-color-trans: rgba(255, 255, 255, 0.425);
  --light-shadow: 0 0 1px rgba(0, 0, 0, 0.795);
  --light-shadow-2: 0 0 10px var(--primary-color-light);
  --light-shadow-1: 0 0 10px rgba(0, 0, 0, 0.212);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* LAYOUT SECTION */
.section{
  padding: 1.5rem;
}

.section__wrapper {
  width: 100%;
  max-width: 111rem;
  margin: auto;
}

.hero {
  margin-bottom: 5rem;
}

/* END OF LAYOUT SECTION */

/* UI */
.btn__primary{
  text-decoration: none;
  background-color: #000;
  padding: 1rem;
  color: #fff;
}

.btn__link{
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 10rem;
  padding: .5rem 1rem;
}

/* END OF UI */

.nav__links a.active::after{
  width: 100%;
}

table th,
table td {
  padding: 0.5rem 1rem;
}

.filter > div {
  margin-bottom: 2rem;
}

.filter > div h4 {
  margin-bottom: 1rem;
}

.filter button {
  display: block;
  margin-bottom: 0.5rem;
}

.filter .active,
.page__btns .active {
  background-color: brown;
  color: white;
}

/* rating */
.review .rating__stars {
  margin-right: 2rem;
}
.review .rating__stars_group {
  margin-right: 1rem;
  position: relative;
}
.review > span > span {
  position: relative;
}
.review > span > span .star {
  position: absolute;
}
.review > span > span .rate {
  color: orange;
}

.review__form input,
.review__form textarea {
  display: block;
}

