
:root {
  font-size: 62.5%;
  --primary-color: #6c91c2;
  --primary-color-dark: #2465b9d8;
  --primary-color-light: #6c91c2b9;
  --primary-color-light-2: #6c91c242;
  --primary-color-light-3: #6c91c21e;
  --link-color: #5555e7;
  --dark-color: rgba(0, 0, 0, 0.822);
  --dark-color-2: rgba(0, 0, 0, 0.705);
  --dark-color-3: rgba(0, 0, 0, 0.726);
  --dark-trans: rgba(0, 0, 0, 0.404);
  --dark-trans-2: rgba(0, 0, 0, 0.322);
  --dark-trans-3: rgba(0, 0, 0, 0.178);
  --color-gray: rgb(224, 224, 224);
  --color-gray-dark: rgb(80, 80, 80);
  --light-color-trans: rgba(255, 255, 255, 0.425);
  --light-shadow: 0 0 1px rgba(0, 0, 0, 0.795);
  --light-shadow-1: 0 0 10px rgba(0, 0, 0, 0.212);
  --light-shadow-2: 0 0 10px var(--primary-color-light);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* LAYOUT SECTION */
.section{
  padding: 1.5rem;
}

.section__wrapper {
  width: 100%;
  max-width: 111rem;
  margin: auto;
}

.hero {
  margin-bottom: 5rem;
}

/* END OF LAYOUT SECTION */

/* UI */
.btn__primary{
  text-decoration: none;
  background-color: #000;
  padding: 1rem;
  color: #fff;
}

.btn__link{
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 10rem;
  padding: .5rem 1rem;
  font-size: 1.3rem;
}
.light__btn_big{
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 10em;
  font-size: 1.5em;
  padding: .5em 1em;
  text-transform: capitalize;
  cursor: pointer;
  transition: background .3s transform .5s;
}

.light__btn_big:hover{
  color: #fff;
  background-color: var(--primary-color);
}
.light__btn_big:active{
  transform: scale(.97);
}
/* END OF UI */

.nav__links a.active::after{
  width: 100%;
}

table th,
table td {
  padding: 0.5rem 1rem;
}

/* rating */
.review .rating__stars {
  margin-right: 2rem;
}
.review .rating__stars_group {
  margin-right: 1rem;
  position: relative;
}
.review > span > span {
  position: relative;
}
.review > span > span .star {
  position: absolute;
}
.review > span > span .rate {
  color: orange;
}

.review__form input,
.review__form textarea {
  display: block;
}

/* FORM */
.user__form{
  width: 100%;
  max-width: 30rem;
  margin: auto;
  box-shadow: var(--light-shadow);
  padding: 3rem;
  text-align: left;
}

.user__form h2{
  text-align: center;
}

.form__error{
  margin-top: 2rem;
  color: #ff0000;
  font-size: 1.3rem;
  background-color: rgba(255, 0,0, .1);
  text-align: center;
  padding: 1rem;
}

.form__success{
  margin-top: 2rem;
  color: #269c30;
  font-size: 1.3rem;
  background-color: #269c303f;
  text-align: center;
  padding: 1rem;
}

.form__actions{
  text-align: left;
  width: 100%;
  height: fit-content;
  margin-top: 1rem;
}

.form__actions button{
  display: inline-block;
  text-decoration: none;
  padding: .5rem 1.5rem;
  background-color: var(--primary-color);
  color: #fff; 
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}

.form__actions button:hover{
  background-color: var(--primary-color-dark);
}

.form__actions a{
  text-decoration: none;
  color: var(--link-color);
}

.form__actions a:hover{
  text-decoration: underline;
}
/* END OF FORM */


.dashboard > div .fusioncharts-container{
  width: 100% !important;
}

/* DASHBOARD */
.dashboard td span{
  color: #6ed0d3;
  border: 1px solid #6ed0d3;
  padding: .5rem;
  border-radius: 3px;
}

.dashboard .delivered span{
  color: #4e9e66;
  border: 1px solid #4e9e66;
  padding: .5rem;
  border-radius: 3px;
}

.dashboard .pending span{
  color: #fcae49;
  border: 1px solid #fcae49;
  padding: .5rem;
  border-radius: 3px;
}
/* END OF DASHBOARD */